		html, body {
			width: 100%;
			height: 100%;
		}

		body {
			margin: 0;
			padding: 0;
			font-family: OCR A Std, monospace;
			overflow-x: hidden; /* fix for the white space without breaking other things */
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			position: fixed;
			top: 0;
			width: 100%;
		}

		li {
			display: inline;
		}

		nav {
			text-align: center;
			position: fixed;
			z-index: 1;
		}

		.button{
			border: 1px solid #3498db;
			background: none;
			padding: 10px 20px;
			font-size: 20px;
			font-family: "montserrat";
			cursor: pointer;
			margin: 10px;
			transition: 0.8s;
			position: relative; /* to add left, top, bottom, right afterwards */
			overflow: hidden; /* so that the blue color doesn't come out of the button (when it reaches the end of the button it stops) */
		}

		.button1,.button2{
			color: #3498db;
		}

		.button3,.button4{
			color: #fff;
		}

		.button1:hover,.button2:hover{
			color: #fff;
			font-family: OCR A Std, monospace;
			text-shadow: 1px 1px 1px white;
		}

		.button3:hover,.button4:hover{
			color: #3498db;
			font-family: OCR A Std, monospace;
			text-shadow: 1px 1px 1px skyblue;
		}

		.button::before{
			content: ""; /* so that the third and fourth buttons can have a color */
			position: absolute; /* positioned to the nearest ancestor */
			left: 0;
			width: 100%;
			height: 0%; /* using this height in order to maintain the initial colors of each button */
			background: #3498db; /* this color to be specific */
			z-index: -1;
			transition: 0.8s;
		}

		.button1::before,.button3::before{
			top: 0; /* animation starts from the top */
			border-radius: 0 0 50% 50%;
		}

		.button2::before,.button4::before{
			bottom: 0; /* animation starts from the bottom */
			border-radius: 50% 50% 0 0;
		}

		.button3::before,.button4::before{
			height: 180%;
		}

		.button1:hover::before,.button2:hover::before{
			height: 180%;
		}

		.button3:hover::before,.button4:hover::before{
			height: 0%;
		}

		header {
			width: 100%;
			height: 100%;
			background-image: url('../images/messi-background.png');
			background-size: cover;	
			background-position: center;
			background-repeat: no-repeat;
			overflow: auto; /* problem : the separate margins (from the parent and the child) were combined into one (collapsed margins) - overflow:auto; or overflow:hidden; on the parent element fixes this problem
			https://stackoverflow.com/questions/1762539/margin-on-child-element-moves-parent-element*/
		}

		#header {
			border: 5px solid white;
			background-color: white;
			border-radius: 22px;
			opacity: 0.8;
			width: 400px;
			height: 220px;
			margin-top: 200px;
			margin-left: 100px;
			word-break: normal;
			color: black;
			font-family: Roboto, Sans Serif;
			font-weight: bold;
			font-size: 20px;
			padding-left: 20px;
		}

		#applestoreimg {
			width: 170px;
			height: 55px;
			margin-top: 20px;
			text-decoration: none;
		}

		#googleplayimg {
			width: 170px;
			height: 55px;
			text-decoration: none;	
		}

		nav ul li img {
			float: left;
			height: 65px;
			width: 250px;
		}

		::-webkit-scrollbar {
			width: 10px;
		}

		::-webkit-scrollbar-track 
		{ 
			background: rgb(192,192,192);
			border-radius: 10px;
		}

		::-webkit-scrollbar-thumb
		{
			background: rgb(30,144,255);
			border-radius: 10px;
		}

		::-webkit-scrollbar-thumb:hover {
			background: #555; 
		}

		.parallax {
			background-attachment: fixed;
		}

		.firstsectionbackground {
			width: 100%;
			height: 100%;
			background-image: url('../images/messi-celebration-background-image.png');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding-top: 20px;
			padding-bottom: 100%;
		}

		section div img {	
			box-shadow: 10px 3px 3px 3px rgba(0, 0, 0, 0.9);
			border-radius: 20%;
			margin-left: 10px;
		}

		h1 {
			text-align: center;
			letter-spacing: 6px;
		}

		h2 {
			text-align: center;
		}

		p {
			font-weight: bold;
		}
		
		img:hover {
			opacity: 0.8;
			transition: 0.8s;
		}

		.imagecontainer {
			display: flex;
			justify-content: center;
			margin-left: 10px;
		}

		.firstarticlebackground {
			width: 100%;
			height: 100%;
			background-image: url('../images/messi-article-img.png');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding-bottom: 100%;
			padding-top: 20px;
		}

		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			width: 100%;
		}
		th, td {
			text-align: left;
			width: 50%;
			padding: 5px;
			font-weight: bold;
		}

		td:nth-child(odd):hover {
			background-color: rgb(221, 221, 221);
			transition: 0.8s;
			opacity: 0.8;
		}

		td:nth-child(even):hover {
			background-color: rgb(240,230,140);
			transition: 0.8s;
			opacity: 0.8;
		}

		th:nth-child(odd):hover {
			background-color: rgba(135,247, 132, 1);
			transition: 0.8s;
			opacity: 0.8;
		}

		th:nth-child(even):hover {
			background-color: rgb(15, 197, 203);
			transition: 0.8s;
			opacity: 0.8;
		}

		table {
			width: 100%;
			padding: 5px;
			background-color: rgb(53, 57, 66);
		}

		article div img {
			margin-top: 50px;
			width: 650px; 
			height: 450px;
			box-shadow: 10px 3px 3px 3px rgba(0, 0, 0, 0.9);
			border-radius: 20%;
			margin-left: 10px;
		}

		caption {
			font-weight: bold;
			font-size: 20px;
			background-color: rgba(255, 255, 255, 0.6);
			border-radius: 20%;
		}

		#clickable {
			cursor: pointer;
		}

		.secondsectionbackground {
			width: 100%;
			height: 100%;
			background-image: url('../images/messi-stats.png');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding-top: 20px;
			padding-bottom: 100%;
			color: greenyellow;
			opacity: 0.9;
			text-shadow: 1px 1px 1px red;
		}

		section.parallax.secondsectionbackground div.imagecontainer img {
			width: 40%;
			height: 400px;
		}

		iframe {
			border-radius: 8%;
			box-shadow: 10px 10px 10px 10px rgb(0, 0, 0, 0.9);
		}

		.imagecontainer img:hover {
			transform : rotateY(180deg);
			transition: 1s;
		}

		.imagecontainer img:not(:hover) {
			transform : rotateY(360deg);
			transition: 1s;
		}

		#treble {
			font-weight: bold;
			font-size: 18px;
		}

		.secondarticlebackground {
			width: 100%;
			height: 100%;
			background-image: url('../images/messi-family.png');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding-bottom: 150%;
			padding-top: 20px;
			opacity: 0.9;
			color: white;
			text-shadow: 2px 2px 2px red;
		}

		#messikid {
			width: 20%;
		}

		#messikid2 {
			width: 20%;
		}

		#messicelebration {
			width: 30%; 
			height: 350px;
		}

		#messicelebration2 {
			width: 30%;
			height: 350px;
		}

		.messiballondor {
			width: 40%;
		}

		#messigoldenshoe {
			width: 40%;
		}

		.messifamily {
			width: 35%;
		}

		footer {
			width: 100%;
			height: 25%;
			background-image: url('../images/messi-footer.png');
			text-transform: uppercase;
			text-align: center;
			overflow: hidden;
		}

		i {
			margin-right: 15px;
			float: right;
		}

		#facebook {
			color: rgb(59, 89, 152);
		}

		#instagram {
			color: rgb(138, 58, 185);
		}

		#youtube {
			color: rgb(255, 0, 0);
		}

		#messilogo {
			width: 6%;
			height: 70%;
			margin-top: 15px;
			margin-left: 30px;
			float: left;
		}	

		span {
			text-align: center;
			display: block;
			margin-top: 50px;
			font-family: Impact, Charcoal, sans-serif
			font-weight: bold;
			font-style: oblique;
			font-size: 200%;
			color: rgb(51, 153, 222);
			mix-blend-mode: lighten;
		}
		
		/* media queries*/
		@media only screen and (max-width: 1100px) {
			#header {
				width: 45%;
				height: 20%;
				margin-left: 10px;
				margin-top: 120px;
				font-size: 15px;
			}

			#applestoreimg {
				width: 120px;
				height: 35px;
				margin-top: 20px;
				text-decoration: none;
			}

			#googleplayimg {
				width: 120px;
				height: 35px;
				text-decoration: none;	
			}

			.firstsectionbackground {
				width: 100%;
				height: 100%;
				background-image: url('../images/messi-celebration-background-image.png');
				background-size: cover;
				background-position: center;
				padding-top: 20px;
				padding-bottom: 600%;
			}

			footer {
				height: 25%;
			}
		}

		@media only screen and (max-width: 1100px) {
			#header {
				width: 45%;
				height: 40%;
				margin-left: 10px;
				margin-top: 120px;
				font-size: 15px;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			footer {
				padding-bottom: 10%;
				height: 25%;
			}
		}	

		@media only screen and (max-width: 1125px) {
			.firstarticlebackground {
				padding-bottom: 150%;
			}
		}

		@media only screen and (max-width: 1024px) {
			#header {
				width: 40%;
				height: 25%;
				margin-left: 10px;
				margin-top: 120px;
				font-size: 15px;
			}

			.firstarticlebackground {
				padding-bottom: 150%;
			}
		}

		@media only screen and (max-width: 1020px) {
			#header {
				width: 45%;
				height: 30%;
				margin-left: 10px;
				font-size: 15px;
			}

			.firstarticlebackground {
				padding-bottom: 150%;
			}
		}

		@media only screen and (max-width: 970px) {
			#header {
				width: 45%;
				height: 40%;
				margin-left: 10px;
				font-size: 15px;
			}

			.firstarticlebackground {
				padding-bottom: 150%;
			}
		}

		@media only screen and (max-width: 930px) {
			#header {
				width: 45%;
				height: 40%;
				margin-left: 10px;
				font-size: 15px;
			}

			.firstarticlebackground {
				padding-bottom: 150%;
			}
		}

		@media only screen and (max-width: 850px) {
			#header {
				width: 45%;
				height: 40%;
				margin-left: 10px;
				font-size: 15px;
			}

			.firstarticlebackground {
				padding-bottom: 150%;
			}
		}

		@media only screen and (max-width: 800px) {
			#header {
				width: 45%;
				height: 40%;
				margin-left: 10px;
				margin-top: 200px;
				font-size: 15px;
			}

			.firstarticlebackground {
				padding-bottom: 187%;
			}
		}

		@media only screen and (max-width: 750px) {
			#header {
				width: 45%;
				height: 50%;
				margin-left: 10px;
				margin-top: 200px;
				font-size: 15px;
			}

			.firstarticlebackground {
				padding-bottom: 700%;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			.messifamily {
				height: 300px;
			}

			footer {
				padding-bottom: 10%;
				height: 25%;
			}
		}

		@media only screen and (max-width: 700px) {
			#header {
				width: 45%;
				height: 50%;
				margin-left: 10px;
				margin-top: 200px;
				font-size: 15px;
			}

			.firstarticlebackground {
				padding-bottom: 700%;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			.messifamily {
				height: 300px;
			}

			footer {
				padding-bottom: 10%;
				height: 25%;
			}
		}

		@media only screen and (max-width: 553px) {
			#header {
				width: 55%;
				height: 50%;
				margin-left: 10px;
				margin-top: 200px;
				font-size: 12px;
			}

			.firstarticlebackground {
				padding-bottom: 700%;
			}

			.secondarticlebackground {
				padding-bottom: 400%;
			}

			.messifamily {
				height: 300px;
			}

			footer {
				padding-bottom: 10%;
				height: 25%;
			}
		}

		@media only screen and (max-width: 452px) {
			#header {
				width: 60%;
				height: 20%;
				margin-left: 10px;
				margin-top: 200px;
				font-size: 9px;
			}

			.firstarticlebackground {
				padding-bottom: 700%;
			}

			.secondarticlebackground {
				padding-bottom: 400%;
			}

			.messifamily {
				height: 300px;
			}

			footer {
				padding-bottom: 10%;
				height: 25%;
			}
		}

		@media only screen and (max-width: 414px) {
			#header {
				width: 65%;
				height: 20%;
				margin-left: 10px;
				margin-top: 220px;
				font-size: 8px;
			}

			#applestoreimg {
				width: 70px;
			}

			#googleplayimg {
				width: 70px;
			}

			.firstarticlebackground {
				padding-bottom: 700%;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			footer {
				padding-bottom: 10%;
				height: 25%;
			}

			.messifamily {
				height: 300px;
			}
		}

		@media only screen and (max-width: 600px) {
			footer {
				padding-bottom: 10%;
				height: 25%;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			.messifamily {
				height: 300px;
			}
		}

		@media only screen and (max-width: 631px) {
			footer {
				padding-bottom: 10%;
				height: 25%;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			.messifamily {
				height: 300px;
			}
		}

		@media only screen and (max-width: 740px) {
			footer {
				padding-bottom: 10%;
				height: 25%;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			.messifamily {
				height: 300px;
			}
		}

		@media only screen and (max-width: 768px) {
			footer {
				padding-bottom: 10%;
				height: 25%;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			.messifamily {
				height: 300px;
			}
		}

		@media only screen and (max-width: 590px) {
			footer {
				padding-bottom: 10%;
				height: 25%;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			.messifamily {
				height: 300px;
			}
		}

		@media only screen and (max-width: 230px) {
			#header {
				width: 70%;
				height: 30%;
				margin-left: 10px;
				margin-top: 400px;
				font-size: 8px;
			}

			.secondarticlebackground {
				padding-bottom: 300%;
			}

			.messifamily {
				height: 300px;
			}

			footer {
				padding-bottom: 10%;
				height: 75%;
			}
		}

		@media only screen and (max-width: 555px) {
			#messicelebration, #messicelebration2 {
				float: left;
			}

			.secondarticlebackground {
				padding-bottom: 400%;
			}

			footer {
				padding-bottom: 10%;
			}

			.messifamily {
				height: 300px;
			}
		}